

body{
    background-color:rgb(hsl(236, 25%, 55%),10%) ;
    background-size: cover;
    margin: 0;

}
.custom-shape-divider-top-1671474662 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1671474662 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 127px;
}

.custom-shape-divider-top-1671474662 .shape-fill {
    fill: #7175AA;
}


.sectionCenter{
    margin-right: 2rem;
    margin-bottom: 3rem; 
    width: 71rem;
    
 

} 
.img_logo{
    position: relative;
    z-index: 1;
    width: 5rem;
    height:5rem ;
    left: 3rem;
}
.div_logo{
    display: flex;
    color: azure;

}
#div_logo{

    color: indianred;
}
#result_div{
    flex-direction: column;
}
.angry_emoji{
   
    font-size: 2rem;
    color: rgb(206, 52, 93);
   
}
.happy_emoji{
    font-size: 2rem;
        color: rgb(52, 206, 103);
}
.score{
    padding: 1rem;
}
#counter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font:{
        
        size :10rem;
        weight:900;
    } 
    position: relative;
    z-index: 999;
    width: 100%;
    height: 53rem;
    background-color: hsla(254, 24%, 14%, 0.522);
    bottom: 43rem;

}
.pace,.pace-inactive{
    display: none;
}
@keyframes pulse {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

button:active {
    animation: pulse 0.5s;
}
:root {
    --circle-size: clamp(1.5rem, 5vw, 3rem);
    --spacing: clamp(0.20rem, 1vw, 0.1rem);
}

.c-stepper {
    display: flex;
    width: 50rem;
    position: relative;
    top: 3rem;
}

.c-stepper__item {
    display: flex;
    gap: var(--spacing);
    align-items: center;
    

    &:before {
        content: "";
        display: block;
        width: var(--circle-size);
        height: var(--circle-size);
        border-radius: 50%;
        background-color: rgb(156, 153, 215); // circle background 
    }

    &:not(:last-child) {
        flex: 1;

        &:after {
            content: "";
            position: relative;
            z-index: -1;
            height: 2px;
            // background-color: #e0e0e0;
            flex: 2;
            margin-right: 0.5rem;
            background-color: rgb(141, 138, 194); // line background
        }
    }
}
.steper_cyrcl_background{
        &::before{
            background-color: rgb(37, 30, 173);
        }

}
@mixin change_color($number){
    &:nth-child(#{$number}) {
        &::after{
            
            background-color: rgb(37, 30, 173);
        }
    }
}
.steper_line_background_1{
   @include change_color(1);

}
.steper_line_background_2{
   @include change_color(2);
}

// .steper_line_background{
//         &::after{
//             background-color: rgb(173, 30, 56) ;
//         }
// }

.c-stepper__title {
    font-weight: bold;
    font-size: clamp(1rem, 4vw, 1.25rem);
}

.answers_item{
 background-color:rgb(109, 104, 204);
}
.answers_container{
    border: 1px solid rgba(201, 142, 142, 0.18);
}
.answers{
        background-color: rgb(129, 124, 210);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(2.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

     font-family: 'Acme';
     font-weight: 900;
     
}
#myBar{
    padding: 0.2;

}
.per_progresbar{
    color: aliceblue;
    font-size: large;
   

}
// .checkbox{
//     position: relative;
//     left: 1rem;
// }
%abstract_class{
    border-radius: 3rem;
}
#myProgress {
    @extend %abstract_class;
    width: 70%;
    height: 40px;
    background-color: grey;
}
$mov_color : rgb(101, 5, 214);
#myBar {
    @extend %abstract_class;
    width: 0%;
    height: 20px;
    background-color: $mov_color;
}
.resulte_logo_img{
    position: relative;
    bottom: 3rem;
}
.resul_container{
    @extend %abstract_class;
    
    background-color: rgb(101, 95, 214);

}
.background_green{

    background-color: green;
}
.background_red{
    background-color: indianred;

}
.cont_fluid{
    height: 41rem;
}

// :root {
//   --circle-size: clamp(1.5rem, 5vw, 3rem);
//   --spacing: clamp(0.25rem, 2vw, 0.5rem);
// }

// .c-stepper {
//   display: flex;
// }

// .c-stepper__item {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
//   text-align: center;

//   &:before {
//     --size: 3rem;
//     content: "";
//     display: block;
//     width: var(--circle-size);
//     height: var(--circle-size);
//     border-radius: 50%;
//     background-color: lightgrey;
//     background-color: red;
//     opacity: 0.5;
//     margin: 0 auto 1rem;
//   }

//   &:not(:last-child) {
//     &:after {
//    
//https: //ishadeed.com/article/stepper-component-html-css/